<html>  
    <head>  
        <title>textractor</title> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/fileinput.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/all.min.css')}}">
        
        <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/piexif.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/sortable.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/purify.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/fileinput.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/theme.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/locales.uz.js')}}"></script>

    </head>  
    <body>  
        <div class="card">
            <nav class="navbar fixed-top navbar-light bg-light" style="text-align: center;">
                <h3 class="card-title">Upload Ducuments</h3>
            </nav>
            
            
            <div class="card-body" style="margin-top: 50px;">
                <div class="file-loading">
                    <form action = "/upload" method = "post" enctype="multipart/form-data">
                        <input id="fileDropRegion" type="file" name="files[]" accept=".pdf .png .jpg .rtf .txt .mp3 .py"  data-browse-on-zone-click="true" multiple>
                    </form>
                </div>
                <script>
                    $(document).ready(function() {
                        $("#fileDropRegion").fileinput({
                            browseClass: "btn btn-primary btn-block",
                            uploadClass: "btn btn-success btn-block",
                            showCaption: false,
                            showRemove: false,
                            theme: "fas",
                        });
                    });
                </script>
            </div>
        </div>

        
    </body>  
</html>  
